<html>
<head>
	<title>Register</title>

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

<div class="jumbotron">
  <h1 class="display-4">REGISTER</h1>
  <p class="lead">This is the Register page for the Final Project!</p>
  <hr class="my-4">
  
  
  <form action="/users" method="post">
    <h4>REGISTER</h4>
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password" required> 

    <b>
    <button class="btn btn-primary btn-md" type="submit">Register</button>   
  </form>

  <br>
  <br>
  <form action="/login" method="get">
    <button class="btn btn-primary btn-md" type="submit" >Return to Login Page</button>   
  </form>
</div>



</body>