<html>
<head>
	<title>Register Successful</title>

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>

<div class="jumbotron">
  <h1 class="display-4">REGISTER SUCCESSFUL</h1>
  <p class="lead">Your account registration was successful! Please return to the Login Page.</p>
  <hr class="my-4">
  
  <br>
  <form action="/login" method="get">
    <button class="btn btn-primary btn-md" type="submit" >Return to Login Page</button>   
  </form>
</div>



</body>